/*
  @Author:wlf(at)zhishan-iot.ga
  @Dessciption:font style sheet
 */

@font-face
{
  font-family: Consola;
  font-style: normal;
  src: url('/style/font/consola.ttf');
}

@font-face
{
  font-family: OpenSans-Regular;
  font-style: normal;
  src: url('/style/font/OpenSans-Regular.ttf');
}

@font-face
{
  font-family: Ostrich Black;
  font-style: normal;
  src: url('/style/font/Ostrich Black.ttf');
}

@font-face
{
  font-family: Ostrich Regular;
  font-style: normal;
  src: url('/style/font/Ostrich Regular.ttf');
}

@font-face
{
  font-family: Lato Black;
  font-style: normal;
  src: url('/style/font/Lato Black.ttf');
}

@font-face
{
  font-family: Lato Bold;
  font-style: normal;
  src: url('/style/font/Lato Bold.ttf');
}

@font-face
{
  font-family: Lato Regular;
  font-style: normal;
  src: url('/style/font/Lato Regular.ttf');
}

